PORT=8080

# M-Pesa Environment ('live' or 'sandbox')
MPESA_ENV=live
MPESA_TRANSACTION_TYPE=CustomerBuyGoodsOnline

# Safaricom Daraja API Credentials
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_SHORTCODE=your_store_shortcode_or_till
MPESA_TILL_NUMBER=your_till_number
MPESA_PASSKEY=your_passkey

# Webhook & Reference
MPESA_CALLBACK_URL=https://lln-bet.vercel.app/api/mpesa-callback
MPESA_ACCOUNT_REF=LlnBetWallet

# MongoDB Database URI
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname
